@model IEnumerable<LawyerWbSite.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Case", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>
    @Html.RadioButton("option", "CaseName") <text> CaseName </text>
    @Html.RadioButton("option", "LawyerName")  <text> LawyerName </text>
    @Html.RadioButton("option", "CustomerName")<text>CustomerName</text>
    @Html.TextBox("search") <input type = "submit" name = "submit" value = "Search"/> 
    @*@Html.ActionLink("Cancel", "Index")    <input type="submit" name="submit" value="Search" />*@


    <button onclick="location.href='@Url.Action("Index", "Case")';return false;">Cancel</button>
  
   

}


<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LawyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Describe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.LawyerName)*@
            @Html.ActionLink(item.LawyerName, "LawyerName",new {firstName=item.LawyerName })
        </td>
        <td>
            @Html.ActionLink(item.CustomerName, "CustomerName" , new { firstName = item.CustomerName })
            @*@Html.DisplayFor(modelItem => item.CustomerName)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CaseID })
        </td>
    </tr>
}

</table>
