@model IEnumerable<LawyerWbSite.Models.Case>

@{
    ViewBag.Title = "LawyerName";
}

<h2>LawyerName</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LawyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Describe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LawyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
       
    </tr>
}

</table>
